<!Doctype html>
<html>
<head>
  <meta charset="utf-8"> </meta>
  <title>This is some title </title>

</head>

<body>
  <h1>About Page. </h1>
  <p>Some text here. </p>
  <p> Date: {{currentyear}} </p>
  <p> user: {{name}} </p>

</body>

</html>
